/* .myHome{
    background-image: url(../images/Image1.jpg);
    background-size: 100% 100%;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 720px;   
    width: 100%;
} */
